@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-size: 24px;
}

/* עיצוב גלילה מותאם אישית לכל האתר */
::-webkit-scrollbar {
  width: 8px; /* רוחב הגלילה */
}

::-webkit-scrollbar-track {
  background-color: #ffdbb6; /* רקע הגלילה */
}

::-webkit-scrollbar-thumb {
  background-color: #313760; /* צבע הגלילה */
  border-radius: 6px; /* רדיוס עגלגל */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #272b52; /* צבע כהה יותר כשמעבירים מעל */
}
