@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-size: 18px;
}

::selection {
  background-color: #0f7a58;
  color: #ffffff;
}

/* עיצוב גלילה מותאם אישית לכל האתר */
::-webkit-scrollbar {
  width: 8px; /* רוחב הגלילה */
}

::-webkit-scrollbar-track {
  background-color: #ffdbb6; /* רקע הגלילה */
}

::-webkit-scrollbar-thumb {
  background-color: #313760; /* צבע הגלילה */
  border-radius: 6px; /* רדיוס עגלגל */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #272b52; /* צבע כהה יותר כשמעבירים מעל */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-grid {
  padding: 12px;
}

.image-row {
  display: flex;
}

.image-row .image {
  margin: 12px;
  height: 240px;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 400px) {
  .image-row {
    flex-direction: column;
  }

  .image-row .image {
    flex-basis: auto;
  }
}
